<template>
  <div class="intro">
    <jumbotron>
      <img src="/static/img/logo_minimalist_w128.png" />
      <h1>Découvrez Mihoka, <strong>votre</strong> bot</h1>
    </jumbotron>

    <div class="content">
      <p>Depuis sa création, <strong>Mihoka</strong> est centrée sur l'élement le plus important d'un stream: <strong>le diffuseur</strong>.</p>
      <p>Si vous avez une envie, ou que vous devez répéter les mêmes choses à chaque Stream, Mihoka peut sans doute le faire pour vous. Et si ma demande n'est pas commune, vous vous disez ? Et bien, il suffit de la suggérer sur le <a href="http://discord.mihoka.tv/" target="_BLANK">suggérer sur notre Discord</a> et il y a de fortes chances, si votre idée est intéressante, qu'elle soit déployée!</p>
      <p>Mihoka a été créée à la base pour faciliter la vie d'un diffuseur, pour ensuite s'étendre à d'autres chaines, et est désormais disponible pour tous. C'est donc logique que l'on conserve notre aspect "adaptif" pour chaque personne, et en conservant cet esprit de communauté où tout le monde a son mot à dire sur notre avancée. Après tout, nous ne serions rien sans les diffuseurs!</p>
    </div>
  </div>
</template>

<script>
import Jumbotron from './Jumbotron'
export default {
  components: { Jumbotron },
  name: 'Intro',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}

p {
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

.content {
  margin-top: 40px;
  background-color: white;
  z-index: 30;
}
@media (max-width: 1024px) {
  p {
    width: 90%;
  }
}

@media (max-width: 800px) {
  p {
    width: 100%;
  }
}
</style>
