<template>
  <div class="jumbo">
    <div class="jumbo-outer">
      <div class="jumbo-inner">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Jumbotron',
  data () {
    return {
    }
  }
}
</script>

<style scoped>
.jumbo {
  margin-top: -40px;
  width: 100%;
  height: 400px;
  z-index: 5;
}

.jumbo-outer {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.jumbo-inner {
  position: absolute;
  top: 50%;
  left: 50%;

  z-index: 20;
  font-size: 1em;
  transform: translate(-50%, -50%);
}

.jumbo-inner img {
  width: 50%;
}
.jumbo-inner h1 {
  margin: 0px;
  padding: 0px;
}
</style>
