<template>
    <div></div>
</template>

<style lang="sass" scoped>

</style>

<script>
export default {
    name: 'Sidebar',
    methods: {
        deployMenu () {
            //
        },
    } 
}
</script>
